<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Ortto_Connector::menu" title="Ortto" sortOrder="100">
                    <resource id="Ortto_Connector::config" title="Configure Extension" sortOrder="1"/>
                    <resource id="Ortto_Connector::api" title="API" sortOrder="2">
                        <resource id="Ortto_Connector::coupons" title="Coupons" sortOrder="1"/>
                        <resource id="Ortto_Connector::update_app_config" title="Update Configuration" sortOrder="2"/>
                        <resource id="Ortto_Connector::get_product" title="Read Products" sortOrder="3"/>
                        <resource id="Ortto_Connector::get_category" title="Read Product Categories" sortOrder="4"/>
                        <resource id="Ortto_Connector::get_customer" title="Read Customers" sortOrder="5"/>
                        <resource id="Ortto_Connector::get_order" title="Read Orders" sortOrder="6"/>
                        <resource id="Ortto_Connector::get_restock_subscription"
                                  title="Read Product Restock Notification Subscriptions" sortOrder="7"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
