<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
  <default>
    <autopilot>
      <general>
        <debug_logs>0</debug_logs>
        <base_url>https://magento-integration-api-master.stgautopilotapp.com/</base_url>
        <client_id>LVnybGZlbLPGWNuihFRTsqYpeDyfHGMJ</client_id>
      </general>
    </autopilot>
  </default>
</config>
