<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <ortto_general>
            <tracking>
                <enabled>1</enabled>
            </tracking>
        </ortto_general>
        <ortto_sync>
            <customer>
                <auto_sync_enabled>1</auto_sync_enabled>
            </customer>
            <order>
                <auto_sync_enabled>1</auto_sync_enabled>
            </order>
            <product>
                <auto_sync_enabled>1</auto_sync_enabled>
            </product>
        </ortto_sync>
    </default>
</config>
