<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <ortto_general>
            <tracking>
                <enabled>1</enabled>
                <consent_enabled>0</consent_enabled>
            </tracking>
        </ortto_general>
        <ortto_store_data>
            <customers>
                <newsletter>1</newsletter>
            </customers>
        </ortto_store_data>
    </default>
</config>
