<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- PLUGINS -->
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="order_attributes_plugin" type="Autopilot\AP3Connector\Plugin\OrderRepositoryPlugin"/>
    </type>
    <type name="Magento\Sales\Api\Data\OrderInterface">
        <plugin name="order_attributes_loader_plugin"
                type="Autopilot\AP3Connector\Plugin\LoadOrderAttributesPlugin"/>
    </type>
    <!-- END PLUGINS -->
    <virtualType name="AutopilotLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="error" xsi:type="object">Autopilot\AP3Connector\Logger\Handler\ErrorHandler</item>
                <item name="info" xsi:type="object">Autopilot\AP3Connector\Logger\Handler\InfoHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Autopilot\AP3Connector\Logger\Logger">
        <arguments>
            <argument name="logger" xsi:type="object">AutopilotLogger</argument>
        </arguments>
    </type>
    <type name="Autopilot\AP3Connector\Service\AutopilotClient">
        <arguments>
            <argument name="curl" xsi:type="object">Magento\Framework\HTTP\Client\Curl</argument>
        </arguments>
    </type>
    <preference for="Magento\Catalog\Block\Product\View" type="Autopilot\AP3Connector\Block\Catalog\Product\View"/>
    <preference for="Autopilot\AP3Connector\Logger\AutopilotLoggerInterface"
                type="Autopilot\AP3Connector\Logger\Logger"/>
    <preference for="Autopilot\AP3Connector\Api\CouponRepositoryInterface"
                type="Autopilot\AP3Connector\Model\ResourceModel\CouponRepository"/>
    <preference for="Autopilot\AP3Connector\Api\Data\CouponInterface"
                type="Autopilot\AP3Connector\Model\Data\Coupon"/>
    <preference for="Autopilot\AP3Connector\Api\ScopeManagerInterface"
                type="Autopilot\AP3Connector\Service\ScopeManager"/>
    <preference for="Autopilot\AP3Connector\Api\ConfigScopeInterface"
                type="Autopilot\AP3Connector\Model\Scope"/>
    <preference for="Autopilot\AP3Connector\Api\AutopilotClientInterface"
                type="Autopilot\AP3Connector\Service\AutopilotClient"/>
    <preference for="Autopilot\AP3Connector\Api\ConfigurationReaderInterface"
                type="Autopilot\AP3Connector\Service\ConfigurationReader"/>
    <preference for="Autopilot\AP3Connector\Api\Data\SyncJobInterface"
                type="Autopilot\AP3Connector\Model\SyncJob"/>
    <preference for="Autopilot\AP3Connector\Api\Data\CronCheckpointInterface"
                type="Autopilot\AP3Connector\Model\CronCheckpoint"/>
    <preference for="Autopilot\AP3Connector\Api\Data\AppConfigInterface"
                type="Autopilot\AP3Connector\Model\Data\AppConfig"/>
    <preference for="Autopilot\AP3Connector\Api\AppConfigRepositoryInterface"
                type="Autopilot\AP3Connector\Model\ResourceModel\AppConfigRepository"/>
    <preference for="Autopilot\AP3Connector\Api\TrackDataProviderInterface"
                type="Autopilot\AP3Connector\Service\TrackDataProvider"/>
    <preference for="Autopilot\AP3Connector\Api\Data\TrackingDataInterface"
                type="Autopilot\AP3Connector\Model\Data\TrackingData"/>
</config>
