<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- PLUGINS -->
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="order_attributes_plugin" type="Ortto\Connector\Plugin\OrderRepositoryPlugin"/>
    </type>
    <type name="Magento\Sales\Api\Data\OrderInterface">
        <plugin name="order_attributes_loader_plugin"
                type="Ortto\Connector\Plugin\LoadOrderAttributesPlugin"/>
    </type>
    <!-- END PLUGINS -->
    <virtualType name="OrttoLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="error" xsi:type="object">Ortto\Connector\Logger\Handler\ErrorHandler</item>
                <item name="info" xsi:type="object">Ortto\Connector\Logger\Handler\InfoHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <preference for="Ortto\Connector\Logger\OrttoLoggerInterface"
                type="Ortto\Connector\Logger\OrttoLogger"/>
    <preference for="Ortto\Connector\Api\OrttoSerializerInterface"
                type="Ortto\Connector\Service\OrttoSerializer"/>
    <preference for="Ortto\Connector\Api\ScopeManagerInterface"
                type="Ortto\Connector\Service\ScopeManager"/>
    <preference for="Ortto\Connector\Api\ConfigScopeInterface"
                type="Ortto\Connector\Model\Scope"/>
    <preference for="Ortto\Connector\Api\ConfigurationReaderInterface"
                type="Ortto\Connector\Service\ConfigurationReader"/>
    <preference for="Ortto\Connector\Api\Data\SyncJobInterface"
                type="Ortto\Connector\Model\SyncJob"/>
    <preference for="Ortto\Connector\Api\Data\CronCheckpointInterface"
                type="Ortto\Connector\Model\CronCheckpoint"/>
    <preference for="Ortto\Connector\Api\Data\AppConfigInterface"
                type="Ortto\Connector\Model\Data\AppConfig"/>
    <preference for="Ortto\Connector\Api\AppConfigRepositoryInterface"
                type="Ortto\Connector\REST\AppConfigRepository"/>
    <preference for="Ortto\Connector\Api\TrackDataProviderInterface"
                type="Ortto\Connector\Service\TrackDataProvider"/>
    <preference for="Ortto\Connector\Api\Data\TrackingDataInterface"
                type="Ortto\Connector\Model\Data\TrackingData"/>
    <preference for="Ortto\Connector\Api\Data\PriceRuleInterface"
                type="Ortto\Connector\Model\Data\PriceRule"/>
    <preference for="Ortto\Connector\Api\Data\PriceRuleResponseInterface"
                type="Ortto\Connector\Model\Data\PriceRuleResponse"/>
    <preference for="Ortto\Connector\Api\Data\DiscountInterface"
                type="Ortto\Connector\Model\Data\Discount"/>
    <preference for="Ortto\Connector\Api\SyncJobRepositoryInterface"
                type="Ortto\Connector\Model\ResourceModel\SyncJobRepository"/>

    <!-- WEB API MODELS -->
    <preference for="Ortto\Connector\Api\Data\OrttoDownloadLinkInterface"
                type="Ortto\Connector\Model\Data\OrttoDownloadLink"/>
    <preference for="Ortto\Connector\Api\Data\OrttoProductParentGroupInterface"
                type="Ortto\Connector\Model\Data\OrttoProductParentGroup"/>
    <preference for="Ortto\Connector\Api\Data\OrttoProductInterface"
                type="Ortto\Connector\Model\Data\OrttoProduct"/>
    <preference for="Ortto\Connector\Api\Data\OrttoProductCategoryInterface"
                type="Ortto\Connector\Model\Data\OrttoProductCategory"/>
    <preference for="Ortto\Connector\Api\Data\OrttoProductReviewInterface"
                type="Ortto\Connector\Model\Data\OrttoProductReview"/>
    <preference for="Ortto\Connector\Api\Data\OrttoCarrierInterface"
                type="Ortto\Connector\Model\Data\OrttoCarrier"/>
    <preference for="Ortto\Connector\Api\Data\OrttoRefundInterface"
                type="Ortto\Connector\Model\Data\OrttoRefund"/>
    <preference for="Ortto\Connector\Api\Data\OrttoRefundItemInterface"
                type="Ortto\Connector\Model\Data\OrttoRefundItem"/>
    <preference for="Ortto\Connector\Api\Data\OrttoOrderExtensionInterface"
                type="Ortto\Connector\Model\Data\OrttoOrderExtension"/>
    <preference for="Ortto\Connector\Api\Data\OrttoOrderItemInterface"
                type="Ortto\Connector\Model\Data\OrttoOrderItem"/>
    <preference for="Ortto\Connector\Api\Data\OrttoOrderInterface"
                type="Ortto\Connector\Model\Data\OrttoOrder"/>
    <preference for="Ortto\Connector\Api\Data\OrttoAddressInterface"
                type="Ortto\Connector\Model\Data\OrttoAddress"/>
    <preference for="Ortto\Connector\Api\Data\OrttoCustomerInterface"
                type="Ortto\Connector\Model\Data\OrttoCustomer"/>
    <preference for="Ortto\Connector\Api\Data\OrttoCartInterface"
                type="Ortto\Connector\Model\Data\OrttoCart"/>
    <preference for="Ortto\Connector\Api\Data\OrttoCartItemInterface"
                type="Ortto\Connector\Model\Data\OrttoCartItem"/>
    <preference for="Ortto\Connector\Api\Data\OrttoRestockSubscriptionInterface"
                type="Ortto\Connector\Model\Data\OrttoRestockSubscription"/>
    <preference for="Ortto\Connector\Api\Data\OrttoGiftInterface"
                type="Ortto\Connector\Model\Data\OrttoGift"/>

    <!-- WEB API RESPONSE MODELS   -->
    <preference for="Ortto\Connector\Api\Data\ListProductResponseInterface"
                type="Ortto\Connector\Model\Data\ListProductResponse"/>
    <preference for="Ortto\Connector\Api\Data\ListProductReviewResponseInterface"
                type="Ortto\Connector\Model\Data\ListProductReviewResponse"/>
    <preference for="Ortto\Connector\Api\Data\ListProductCategoryResponseInterface"
                type="Ortto\Connector\Model\Data\ListProductCategoryResponse"/>
    <preference for="Ortto\Connector\Api\Data\ListCustomerResponseInterface"
                type="Ortto\Connector\Model\Data\ListCustomerResponse"/>
    <preference for="Ortto\Connector\Api\Data\ListOrderResponseInterface"
                type="Ortto\Connector\Model\Data\ListOrderResponse"/>
    <preference for="Ortto\Connector\Api\Data\ListRestockSubscriptionResponseInterface"
                type="Ortto\Connector\Model\Data\ListRestockSubscriptionResponse"/>
    <preference for="Ortto\Connector\Api\Data\ListPriceRuleResponseInterface"
                type="Ortto\Connector\Model\Data\ListPriceRuleResponse"/>

    <!-- WEB API REPOSITORIES   -->
    <preference for="Ortto\Connector\Api\OrttoProductRepositoryInterface"
                type="Ortto\Connector\Model\Api\OrttoProductRepository"/>
    <preference for="Ortto\Connector\Api\OrttoProductReviewRepositoryInterface"
                type="Ortto\Connector\Model\Api\OrttoProductReviewRepository"/>
    <preference for="Ortto\Connector\Api\OrttoProductCategoryRepositoryInterface"
                type="Ortto\Connector\Model\Api\OrttoProductCategoryRepository"/>
    <preference for="Ortto\Connector\Api\OrttoCustomerRepositoryInterface"
                type="Ortto\Connector\Model\Api\OrttoCustomerRepository"/>
    <preference for="Ortto\Connector\Api\OrttoOrderRepositoryInterface"
                type="Ortto\Connector\Model\Api\OrttoOrderRepository"/>
    <preference for="Ortto\Connector\Api\OrttoRestockSubscriptionRepositoryInterface"
                type="Ortto\Connector\Model\Api\OrttoRestockSubscriptionRepository"/>
    <preference for="Ortto\Connector\Api\OrttoCartRepositoryInterface"
                type="Ortto\Connector\Model\Api\OrttoCartRepository"/>

    <!-- WEB API HANDLERS -->
    <preference for="Ortto\Connector\Api\ProductApiInterface"
                type="Ortto\Connector\REST\ProductApi"/>
    <preference for="Ortto\Connector\Api\ProductReviewApiInterface"
                type="Ortto\Connector\REST\ProductReviewApi"/>
    <preference for="Ortto\Connector\Api\ProductCategoryApiInterface"
                type="Ortto\Connector\REST\ProductCategoryApi"/>
    <preference for="Ortto\Connector\Api\CustomerApiInterface"
                type="Ortto\Connector\REST\CustomerApi"/>
    <preference for="Ortto\Connector\Api\OrderApiInterface"
                type="Ortto\Connector\REST\OrderApi"/>
    <preference for="Ortto\Connector\Api\RestockSubscriptionApiInterface"
                type="Ortto\Connector\REST\RestockSubscriptionApi"/>
    <preference for="Ortto\Connector\Api\DiscountRepositoryInterface"
                type="Ortto\Connector\REST\DiscountApi"/>

    <!-- JOBS ADMIN GRID -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="ortto_sync_jobs_listing_data_source" xsi:type="string">OrttoSyncJobsCollection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="OrttoSyncJobsCollection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ortto_sync_jobs</argument>
            <argument name="resourceModel" xsi:type="string">Ortto\Connector\Model\ResourceModel\SyncJob</argument>
        </arguments>
    </virtualType>
    <!-- END JOBS ADMIN GRID -->
</config>
