<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_register_success">
        <observer name="customer_registered_frontend"
                  instance="\Ortto\Connector\Observer\CustomerRegisteredAfter"/>
    </event>
    <event name="customer_account_edited">
        <observer name="customer_account_edited_frontend"
                  instance="\Ortto\Connector\Observer\CustomerSavedAfterFrontend"/>
    </event>
    <event name="newsletter_subscriber_save_commit_after">
        <observer name="newsletter_subscriber_save_commit_after_frontend"
                  instance="\Ortto\Connector\Observer\CustomerSubscriptionSavedAfterFrontend"/>
    </event>
    <event name="customer_address_save_after">
        <observer name="customer_address_save_after_frontend"
                  instance="\Ortto\Connector\Observer\CustomerAddressSavedAfterFrontend"/>
    </event>
</config>
