<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!--    <event name="adminhtml_customer_save_after">-->
    <!--        <observer name="adminhtml_customer_save_after_admin"-->
    <!--                  instance="\Ortto\Connector\Observer\CustomerSavedAfterAdmin"/>-->
    <!--    </event>-->
    <!--    <event name="catalog_product_save_after">-->
    <!--        <observer name="adminhtml_catalog_product_save_after"-->
    <!--                  instance="\Ortto\Connector\Observer\ProductSavedAfter"/>-->
    <!--    </event>-->
    <event name="sales_order_save_after">
        <observer name="adminhtml_sales_order_save_after"
                  instance="\Ortto\Connector\Observer\OrderSavedAfter"/>
    </event>
    <event name="order_cancel_after">
        <observer name="adminhtml_order_cancel_after"
                  instance="\Ortto\Connector\Observer\OrderCanceledAfter"/>
    </event>
</config>
