<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Ortto_Connector::system_root"
             sortOrder="1000"
             title="Ortto"
             module="Ortto_Connector"
             resource="Ortto_Connector::sync_jobs_admin"
             parent="Magento_Backend::system"/>
        <add id="ortto_system_job_admin"
             sortOrder="1"
             title="Synchronization Jobs"
             action="ortto/sync/jobs"
             module="Ortto_Connector"
             resource="Ortto_Connector::sync_jobs_admin"
             parent="Ortto_Connector::system_root"/>

    </menu>
</config>
